.lmu-spinner .subtract-icon {
    position: relative;
    display: inline-block;
    width: 27px;
    height: 27px;
    border: 1px solid #ccc;
    background-color: #FDFDFD;
    vertical-align: middle;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.4);
}
.lmu-spinner .subtract-icon:before {
    position: absolute;
    top: 13px;
    left: 8px;
    width: 12px;
    height: 0;
    border-top: 2px solid #C8C8C8;
    content: "";
}
.lmu-spinner .plus-icon {
    position: relative;
    display: inline-block;
    width: 27px;
    height: 27px;
    border: 1px solid #ccc;
    background-color: #FDFDFD;
    vertical-align: middle;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.4);
}
.lmu-spinner .plus-icon:before {
    position: absolute;
    top: 13px;
    left: 8px;
    width: 12px;
    height: 0;
    border-top: 2px solid #666;
    content: "";
}
.lmu-spinner .plus-icon:after {
    position: absolute;
    top: 8px;
    left: 13px;
    width: 0px;
    height: 12px;
    border-left: 2px solid #666;
    content: "";
}
.lmu-spinner .number {
    display: inline-block;
    width: 55px;
    height: 27px;
    margin: 0 7px;
    border: 1px solid #ccc;
    color: #000;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    background-color: #fff;
}
.lmu-spinner-variantone .lmu-spinner .subtract-icon {
    width: 20px;
    height: 20px;
}
.lmu-spinner-variantone .lmu-spinner .subtract-icon:before {
    top: 9px;
    left: 4px;
}
.lmu-spinner-variantone .lmu-spinner .number {
    width: 45px;
    height: 20px;
}
.lmu-spinner-variantone .lmu-spinner .plus-icon {
    width: 20px;
    height: 20px;
}
.lmu-spinner-variantone .lmu-spinner .plus-icon:before {
    top: 9px;
    left: 4px;
}
.lmu-spinner-variantone .lmu-spinner .plus-icon:after {
    top: 4px;
    left: 9px;
}
